body { height: 100%; margin: 5; padding: 5; }

.big-size{
  width: 100%;
}

.bg-font{
  font-size: large;
  font-weight: bolder;
  text-decoration: none;
}
.h-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.h-menu li {
  float: left;
  border-right:1px solid #bbb;
}

.h-menu .right-nav {
  float: right;
  border-right:1px solid #bbb;
}

.h-menu li:last-child {
  border-right: none;
}

.h-menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.h-menu li a:hover:not(.active) {
  background-color: #111;
}

.h-menu .active {
  background-color: #4CAF50;
}

.divider{
  margin: 16px;
}

table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 12px;
  background: white;
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}
th {
  font-weight: normal;
  color: #039;
  border-bottom: 2px solid #6678b1;
  padding: 2px 2px;
}
td {
  color: #669;
  padding: 3px 2px;
  transition: .3s linear;
  margin: 10px 0;
}
tr:hover td {
  color: #6699ff;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #222222;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
